.border {
    border-width:10;
}

.border--green {
    border-color:green;
}

.border--red {
    border-color:red;
}

.results{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    background: gainsboro;
}

.results__thumbnail{
    margin: 0.5rem;
    border: 3px solid white;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}